@import "./global.scss";

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: #f6f6f6;
}

@keyframes loading {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.loader {
    z-index: 1000;
    position: fixed;
    top: 0;
    background: white;
    width: 100%;
    height: 100%;

    animation: loading 3s forwards;

    .center {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        img {
            width: 300px;
        }
        svg {
            width: 100px;
            height: 60px;
        }
    }
}

.header {
    @include mobile {
        padding-top: 15px;
        text-align: center;
        img {
            padding: 10px;
            width: 200px;
        }
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
}

.location {
    @include mobile {
        padding: 15px;
        text-align: center;
        background: $grey-color;
        font-weight: bold;
        color: rgb(49, 49, 49);

        i {
            margin-right: 10px;
        }
    }
}

.hero {
    @include mobile {
        text-align: center;
        background: #eeeeee;
        h1 {
            padding-top: 28px;
            font-weight: bold;
            font-size: 25px;
            margin: 0;
        }

        .little {
            padding-top: 10px;
            margin: 0;
            font-size: 18px;
            color: #696969;
        }

        .button {
            padding-top: 36px;
            padding-bottom: 60px;
            a {
                text-decoration: none;
                cursor: pointer;
                color: white;
                background-image: linear-gradient(#ff79da, #9356dc);
                padding: 15px;
                border-radius: 20px;
                border: 0;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                &:hover {
                    box-shadow: 0 11px 15px 0 rgba(0, 0, 0, 0.2);
                    background-image: linear-gradient(#ff9ee3, #a372df);
                }
            }
        }
    }
}

.working {
    @include mobile {
        h2 {
            margin: 0;
            margin-top: 50px;
            margin-left: 10px;
            font-size: 28px;
        }

        .list {
            display: flex;
            align-items: center;
            flex-direction: column;
            .work-card {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                border-radius: 20px;
                display: flex;
                position: relative;
                align-items: center;
                padding: 10px;
                margin-top: 30px;
                width: 80%;
                .number {
                    background-color: $primary;
                    position: absolute;
                    width: 35px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    left: -19px;
                    top: 19px;
                    color: white;
                }

                .icone {
                    margin-left: 32px;
                    i {
                        color: grey;
                        font-size: 25px;
                    }
                }

                h3 {
                    margin-left: 30px;
                }

                &:hover {
                    background: #9356dc1c;
                    i {
                        color: $primary;
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

.restaurant {
    @include mobile {
        h2 {
            margin: 0;
            margin-top: 50px;
            margin-left: 10px;
            font-size: 28px;
        }

        .list {
            display: flex;
            flex-direction: column;
            align-items: center;

            .card {
                margin-top: 20px;
                width: 90%;
                border-radius: 10px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

                a {
                    text-decoration: none;
                    color: black;
                }

                .image {
                    position: relative;
                    img {
                        width: 100%;
                        height: 260px;
                        object-fit: cover;
                        border-radius: 10px 10px 0 0;
                    }

                    .new {
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        padding: 10px;
                        background: $tertiary;
                        color: green;
                        border-radius: 5px;
                    }
                }

                .bottom {
                    position: relative;
                    padding: 10px;
                    h3,
                    span {
                        margin: 0;
                        margin-left: 10px;
                    }
                    .heart {
                        svg {
                            position: absolute;
                            right: 10px;
                            top: 30%;
                            font-size: 30px;
                            cursor: pointer;
                            fill: rgb(255, 255, 255);
                            width: 30px;
                            stroke: black;
                            stroke-width: 12px;

                            &:hover {
                                stroke: white;
                                animation: heart-animation 1.5s forwards;
                            }
                        }
                    }
                }
            }
        }
    }
}
