@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$grey-color: #e8e8e8;

$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

@mixin mobile {
    @media #{$small-and-down} {
        @content;
    }
}

@mixin tablet {
    @media #{$medium-and-up} {
        @content;
    }
}

@mixin large-desktop {
    @media #{$extra-large-and-up} {
        @content;
    }
}

@mixin desktop {
    @media #{$large-and-up} {
        @content;
    }
}

@keyframes heart-animation {
    from {
        fill: white;
        stroke: black;
    }
    to {
        stroke-width: 5;
        stroke: black;
        fill: $primary;
    }
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: #f6f6f6;
}

.header {
    @include mobile {
        padding-top: 15px;
        text-align: center;
        img {
            padding: 10px;
            width: 200px;
        }
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
}

.location {
    @include mobile {
        padding: 15px;
        text-align: center;
        background: $grey-color;
        font-weight: bold;
        color: rgb(49, 49, 49);

        i {
            margin-right: 10px;
        }
    }
}

.hero {
    @include mobile {
        text-align: center;
        background: #eeeeee;
        h1 {
            padding-top: 28px;
            font-weight: bold;
            font-size: 25px;
            margin: 0;
        }

        .little {
            padding-top: 10px;
            margin: 0;
            font-size: 18px;
            color: #696969;
        }

        .button {
            padding-top: 36px;
            padding-bottom: 60px;
            a {
                text-decoration: none;
                cursor: pointer;
                color: white;
                background-image: linear-gradient(#ff79da, #9356dc);
                padding: 15px;
                border-radius: 20px;
                border: 0;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                &:hover {
                    box-shadow: 0 11px 15px 0 rgba(0, 0, 0, 0.2);
                    background-image: linear-gradient(#ff9ee3, #a372df);
                }
            }
        }
    }
}

.working {
    @include mobile {
        h2 {
            margin: 0;
            margin-top: 50px;
            margin-left: 10px;
            font-size: 28px;
        }

        .list {
            display: flex;
            align-items: center;
            flex-direction: column;
            .work-card {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                border-radius: 20px;
                display: flex;
                position: relative;
                align-items: center;
                padding: 10px;
                margin-top: 30px;
                width: 80%;
                .number {
                    background-color: $primary;
                    position: absolute;
                    width: 35px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    left: -19px;
                    top: 19px;
                    color: white;
                }

                .icone {
                    margin-left: 32px;
                    i {
                        color: grey;
                        font-size: 25px;
                    }
                }

                h3 {
                    margin-left: 30px;
                }

                &:hover {
                    background: #9356dc1c;
                    i {
                        color: $primary;
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

.restaurant {
    @include mobile {
        h2 {
            margin: 0;
            margin-top: 50px;
            margin-left: 10px;
            font-size: 28px;
        }

        .list {
            display: flex;
            flex-direction: column;
            align-items: center;

            .card {
                margin-top: 20px;
                width: 90%;
                border-radius: 10px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                .image {
                    position: relative;
                    img {
                        width: 100%;
                        height: 260px;
                        object-fit: cover;
                        border-radius: 10px 10px 0 0;
                    }

                    .new {
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        padding: 10px;
                        background: $tertiary;
                        color: green;
                        border-radius: 5px;
                    }
                }

                .bottom {
                    position: relative;
                    padding: 10px;
                    h3,
                    span {
                        margin: 0;
                        margin-left: 10px;
                    }
                    .heart {
                        svg {
                            position: absolute;
                            right: 10px;
                            top: 30%;
                            font-size: 30px;
                            cursor: pointer;
                            fill: rgb(255, 255, 255);
                            width: 30px;
                            stroke: black;
                            stroke-width: 12px;

                            &:hover {
                                stroke: white;
                                animation: heart-animation 1.5s forwards;
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer {
    background: #353535;
    margin-top: 40px;
    .logo {
        font-family: "Shrikhand", cursive;
        padding-top: 20px;
        padding-left: 25px;
        font-size: 20px;
        color: white;
    }
    .navigation {
        display: flex;
        flex-direction: column;
        font-weight: 300;
        margin-left: 25px;
        margin-top: 15px;
        .text {
            padding: 6px;
            margin: 0;
            font-size: 15px;
        }
        i {
            margin-right: 10px;
        }
        a {
            color: white;
            text-decoration: none;
        }
    }
}
