@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$grey-color: #e8e8e8;

$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

@mixin mobile {
    @media #{$small-and-down} {
        @content;
    }
}

@mixin tablet {
    @media #{$medium-and-up} {
        @content;
    }
}

@mixin large-desktop {
    @media #{$extra-large-and-up} {
        @content;
    }
}

@mixin desktop {
    @media #{$large-and-up} {
        @content;
    }
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: #f6f6f6;
}

.header {
    @include mobile {
        padding-top: 15px;
        text-align: center;
        img {
            padding: 10px;
            width: 200px;
        }
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
}

.location {
    @include mobile {
        padding: 15px;
        text-align: center;
        background: $grey-color;
        font-weight: bold;
        color: rgb(49, 49, 49);

        i {
            margin-right: 10px;
        }
    }
}

.hero {
    @include mobile {
        text-align: center;
        background: #eeeeee;
        h1 {
            padding-top: 28px;
            font-weight: bold;
            font-size: 25px;
            margin: 0;
        }

        .little {
            padding-top: 10px;
            margin: 0;
            font-size: 18px;
            color: #696969;
        }

        .button {
            padding-top: 36px;
            padding-bottom: 60px;
            a {
                text-decoration: none;
                cursor: pointer;
                color: white;
                background-image: linear-gradient(#ff79da, #9356dc);
                padding: 15px;
                border-radius: 20px;
                border: 0;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                &:hover {
                    box-shadow: 0 11px 15px 0 rgba(0, 0, 0, 0.2);
                    background-image: linear-gradient(#ff9ee3, #a372df);
                }
            }
        }
    }
}